
body{
    background-color: white;
    margin:0;
    overflow-x: hidden;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

a {
    color: black;
    text-decoration: none; 
}

a:hover{
    background-color:lightgrey;
}

button {
    outline:none;
}

button:hover {
    background-color: lightgrey;
    color: black;
}

button:active {
    transform: translateY(4px);
}

.container{
    margin: 0;
}

.navbar{
    position:fixed;
    width: 100%;
    background-color:gray;
    color:white;
    padding-left: 100px;
    z-index:100;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navHead{
    float: left;
    font-size:1.2em;
    font-family:Arial, Helvetica, sans-serif;
}

.nav{
    z-index : 100;
    position: fixed;
    top: 10px;
    right: 10px;
}

.nav ul{
    margin-right: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline-block;
    padding: 5px;
}

.nav button{
    border:0;
    background-color: gray;
    color:white;
    min-height:30px;
    font-size:1.1em;
    border-radius:5px;
}

.nav a{
    color: white;
}

.nav button:hover {
    background-color: lightgray;
    color: black;
}

.nav .resume{
    background-color:lightgray;
}

.nav .resume a{
    color:black;
}

.nav a:hover {
    color: black;
}

#header{
    height: 85vh;
    padding-top: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
}

#header .headerBox{
    width:50%;
    margin:auto;
    padding-top: 100px;
    text-align:center;
}

#header img{
    width: 150px;
    border-radius: 50%;
}

#header h2{
    font-size: 2em;
    font-weight: lighter;
    margin:5px;
}

#header .bold{
    font-size: 2.2em;
    font-weight: bolder;
}

#header .introBox{
    width:50%;
    margin:auto;
    padding-top: 5px;
    border-top: 2px solid black;
}

#skillBox{
    height: 80px;
    width:60%;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top:30px;
    padding-bottom: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

#skillBox .skill{
    width:33%;
    float:left;
    text-align:center;
}

#skillBox img{
    height:80px;
}

#work{
    min-height: 100vh;
    padding-top: 50px;
}

.work-content .desc {
    width: 50%;
    min-height: 500px;
    float: left;
    background-color: white;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.2em;
}

.appDesign{
    min-height: 90vh;
    display: block;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-top: 50px;
}

.appDesign .desc{
    background-color: #e0e5f9;
    min-height:450px;
    padding-top:50px;
}

.appDesign .part1{
    width:60%;
    margin:auto;
    margin-top:20px;
    margin-bottom: 30px;
    text-align:left;
}

.part1 .logo{
    background-color: white;
    margin-right:20px;
    margin-left:0;
    float:left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10%;
}

.part1 .logo img{
    border-radius: 10%;
}

.part1 h2{
    font-size:2.5em;
    color:#4675A8;
    margin-top:5px;
    margin-bottom:0;
}

.part1 h4{
    margin-top:5px;
    font-size:1em;
}

.appDesign .part2 {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.appDesign .part3{
    width: 90%;
    margin-left:10%;
    height:100px;
    padding-left:60px;
}

.part3 .elem{
    width: 25%;
    margin-right: 5%;
    float: left;
    margin-top:30px;
    padding-top:2px;
    padding-bottom:2px;
}

.part3 .mid{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.part3 .elem p{
    margin:2px;
}

.part4{
    margin-left:20%;
    font-size:1.2em;
}

.nextPage p{
    float:left;
    margin:5px;
    margin-right:20px;
}

.nextPage img{
    float:left;
    width:20px;
}


.appDesign .image img{
    height: 500px;
}

#background{
    position: absolute;
    z-index: 0;
}

#topImage{
    position: absolute;
    z-index:20;
    margin-left:100px;
}

.logoDesign{
    min-height: 120vh;
    padding-left: 40px;
    width:60%;
    margin:auto;
    margin-bottom: 50px;
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logoDesign .image{
    width:33%;
    float: left;
    align-content:center;
}

.logoDesign .image img{
    width:200px;
    height:200px;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.longLeft{
    width:60%;
    float:left;
    align-content:center;
}

.longLeft img{
    width:400px;
    height:200px;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.longRight{
    width:40%;
    float:left;
    align-content:center;
}

.longRight img{
    width:250px;
    height:200px;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact{
    width:100%;
    float:left;
    background-color:gray;
    color: white;
    padding:30px;
    border:0;
    text-align:center;
    font-size: 1.1em;
}

#contact .c2{
    margin-top:0;
}

#contact a{
    color: white;
    padding: 5px;
    border-radius:5px;
}

#contact a:hover{
    background-color: lightgray;
    color: black;
}

#contact .contDetails{
    width:30%;
    margin:auto;
    padding:10px;
    border: 1px solid white;
    border-radius:5px;
}

#contact .links{
   margin-top:20px;
}

#contact .links .linkSub{
    width:33%;
    float:left;
    font-size:1.2em;
}